@media (max-width: 768px) {
  .section-about {
    height: auto;

    .section-about__text-container {
      flex-direction: column;

      .section-about__text-content{
        width: 100% !important;

        &:first-child {
          margin-bottom: 25px;
        }
      }
    }
  }

  .section-stories {
    height: auto;

    .section-stories__container {
      .section-stories__btn {
        width: 100px;
        height: 100px;
        padding: 25px 20px 32px 26px;

        & img {
          width: 37px;
          height: 47px;
        }
      }
    }
  }
}
