@media (max-width: 768px) {
  .footer {
    height: auto;

    .footer__container {
      grid-template-columns: 1fr;
      gap: 18px;
      place-items: center;
      text-align: center;

      .footer__logo-container {
        margin-top: 0;
      }

      .footer__contact-container {
        text-align: center;
      }

      .footer__footnote {
        margin-top: 0;
      }
    }
  }
}
