@media (max-width: 768px) {
  .nav {
    justify-content: space-between;

    .nav__burger-bar {
      width: 30px;
      height: 4px;
      background-color: $light;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: $light;
        left: 0;
      }

      &::before {
        top: -10px;
      }

      &::after {
        top: 10px;
      }
    }

    .nav__list {
      display: none !important;
    }
  }
}
