.section-about {
  @include section;
  background-color: #eeeeee;

  .section-about__container {
    @include container;

    .section-about__heading--md {
      @include h2($dark-gray, 40px);
    }

    .section-about__heading--sm {
      @include h3($light-gray);
    }

    .section-about__text-container {
      @include flex;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 46px;

      .section-about__text-content {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color:$light-gray;
        font-family: $main-font;    
        width: 45%;
      }
    }

    .section-about__btn {
      position: relative;
      overflow: hidden;
      transition: transform 0.3s linear;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        background-color: $blue-color;
        border-radius: 18px;
        transform-origin: top left;
        transition: transform 0.3s linear;
        z-index: -1;
      }

      &:hover {
        transform: skewY(10deg);
        transform-origin: top left;
      }
      &:hover::before {
        transform: skewY(-10deg);
        transform-origin: top left;
      }
    }
  }
}
