.footer {
  @include flex;
  flex: 1 0 100%;
  background-color: $dark-gray;
  height: 200px;
  padding: 37px 0 78px 0;

  .footer__container {
    @include container;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 80px;

    .footer__logo-container {
      @include flex;
      align-items: center;
      margin-top: -60px;

      .footer__logo {
        margin-right: 16px;
      }

      .footer__title {
        text-transform: uppercase;
        color: $light;
        letter-spacing: 0.2em;
        font-size: 18px;
        line-height: 16px;
        font-weight: 400;
      }
    }

    .footer__contact-container {
      max-width: 174px;
      text-align: left;

      .footer__contact-address {
        display: inline-block;
        margin-bottom: 27px;
        @include contact-text;
      }

      .footer__contact-link{
        @include contact-text;
      }
    }

    .footer__footnote {
      text-align: end;
      margin-top: 65px;
      @include contact-text;
    }
  }
}
