.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transition: background-color 0.3s ease;
  width: 100%;

  .nav {
    @include flex;
    width: 80%;
    margin: 0 auto;
    padding: 45px 0;
    align-items: center;

    .nav__title {
      @include nav-link;
      width: 20%;
      font-weight: 600;
      font-size: 20px;
      margin-right: 165px;
    }

    .nav__list {
      @include flex;
      width: 40%;

      .nav__link{
        @include nav-link;
        margin-right: 32px;
        font-size: 14px;
        font-weight: 400;

        &:hover{
            border-bottom: 2px $light solid;
        }
      }
    }
  }
}

