.section-hero {
  @include section;
  height: 822px;
  padding: 230px 0;
  /* animation-name: bgChange;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  background-image: url("../assets/Stars.svg"), url("../assets/Background.png");
  background-position: top 50px right 50px, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;

  .section-hero__container {
    @include container;

    .section-hero__logo {
      margin-bottom: 13px;
      transition: transform 0.5s linear;

      &:hover {
        cursor: pointer;
        transform: rotateY(180deg) scale(1.5);
      }
    }

    .section-hero__heading--sm {
      @include h3(rgba(255, 255, 255, 0.7));
    }
  }
}
