.section-stories {
  @include section;
  height: 637px;
  background-image: url("../assets/IMG_1334_72dpi_RGB_\ 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(140, 79, 42, 0.3);
    z-index: -1;
  }

  .section-stories__container {
    @include container;

    .section-stories__heading--md {
      @include h2($light, 53px);
    }

    .section-stories__btn {
      width: 145px;
      height: 143px;
      border-radius: 50%;
      padding: 30px;
      margin-bottom: 70px;
      transition: background-color 0.5s;

      & .svg-icon path {
        fill: $light;
        transition: fill 0.3s;
      }
      &:hover {
        background-color: $light;

        & .svg-icon path {
          fill: $blue-color;
        }
      }
    }

    .section-stories__heading--sm {
      @include h3($light);
    }
  }
}
