/* @keyframes bgChange {
    0%{
        background-position: center, center;
    }
    50%{
        background-image: url('../assets/Rays.svg'), url('../assets/Stars.svg'), url('../assets/Background.png');
        background-size: 50%, contain, cover;
        background-position: left, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    }
    100%{
        background-image: url('../assets/Stars.svg'), url('../assets/Background.png');
        background-position: top 50px right 50px, center;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, cover;
    }
} */