@mixin h2($color, $margin:0){
    color:$color;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    font-family:$heading-font;
    margin-bottom:$margin;
}

@mixin h3($color){
    font-size:24px;
    font-weight: 400;
    font-family: $main-font;
    line-height: 32px;
    color:$color;
    margin-bottom:48px;
}

@mixin flex{
    display:flex;
}

@mixin nav-link{
    color: $light;
  letter-spacing: 0.2em;
  line-height: 16px;
  text-transform: uppercase;
}


@mixin section{
    flex:1 0 100%;
    height:700px;
    padding:80px 0;
}

@mixin container{
    width:75%;
    margin:0 auto;
    text-align: center;
}

@mixin contact-text{
    color: rgba(255, 255, 255, 0.4);
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
}