@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap");

.body {
  @include flex;
  flex-wrap: wrap;
  font-family: $main-font;

  button {
    background-color: $blue-color;
    border: none;
    border-radius: 18px;
    color: $light;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $heading-font;
    letter-spacing: 0.1em;
    line-height: 26px;
    width: 115px;
    height: 36px;
    padding: 5px 17px 6px 18px;
    font-weight: 400;
    cursor: pointer;
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
    font-family: $heading-font;
    line-height: 64px;
    color: $light;
    margin-bottom: 42px;
  }

  h2 {
    @include h2($dark-gray);
  }

  h3 {
    @include h3($light-gray);
  }
}
