@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Source Sans 3", sans-serif;
}
.body button {
  background-color: #55C2D8;
  border: none;
  border-radius: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  line-height: 26px;
  width: 115px;
  height: 36px;
  padding: 5px 17px 6px 18px;
  font-weight: 400;
  cursor: pointer;
}
.body h1 {
  font-weight: 700;
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  line-height: 64px;
  color: #ffffff;
  margin-bottom: 42px;
}
.body h2 {
  color: #464547;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0;
}
.body h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
  line-height: 32px;
  color: #666666;
  margin-bottom: 48px;
}

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transition: background-color 0.3s ease;
  width: 100%;
}
.header .nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 45px 0;
  align-items: center;
}
.header .nav .nav__title {
  color: #ffffff;
  letter-spacing: 0.2em;
  line-height: 16px;
  text-transform: uppercase;
  width: 20%;
  font-weight: 600;
  font-size: 20px;
  margin-right: 165px;
}
.header .nav .nav__list {
  display: flex;
  width: 40%;
}
.header .nav .nav__list .nav__link {
  color: #ffffff;
  letter-spacing: 0.2em;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 32px;
  font-size: 14px;
  font-weight: 400;
}
.header .nav .nav__list .nav__link:hover {
  border-bottom: 2px #ffffff solid;
}

.section-hero {
  flex: 1 0 100%;
  height: 700px;
  padding: 80px 0;
  height: 822px;
  padding: 230px 0;
  /* animation-name: bgChange;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
  background-image: url("../assets/Stars.svg"), url("../assets/Background.png");
  background-position: top 50px right 50px, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
}
.section-hero .section-hero__container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.section-hero .section-hero__container .section-hero__logo {
  margin-bottom: 13px;
  transition: transform 0.5s linear;
}
.section-hero .section-hero__container .section-hero__logo:hover {
  cursor: pointer;
  transform: rotateY(180deg) scale(1.5);
}
.section-hero .section-hero__container .section-hero__heading--sm {
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 48px;
}

/* @keyframes bgChange {
    0%{
        background-position: center, center;
    }
    50%{
        background-image: url('../assets/Rays.svg'), url('../assets/Stars.svg'), url('../assets/Background.png');
        background-size: 50%, contain, cover;
        background-position: left, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    }
    100%{
        background-image: url('../assets/Stars.svg'), url('../assets/Background.png');
        background-position: top 50px right 50px, center;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, cover;
    }
} */
.section-about {
  flex: 1 0 100%;
  height: 700px;
  padding: 80px 0;
  background-color: #eeeeee;
}
.section-about .section-about__container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.section-about .section-about__container .section-about__heading--md {
  color: #464547;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 40px;
}
.section-about .section-about__container .section-about__heading--sm {
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
  line-height: 32px;
  color: #666666;
  margin-bottom: 48px;
}
.section-about .section-about__container .section-about__text-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 46px;
}
.section-about .section-about__container .section-about__text-container .section-about__text-content {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #666666;
  font-family: "Source Sans 3", sans-serif;
  width: 45%;
}
.section-about .section-about__container .section-about__btn {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s linear;
}
.section-about .section-about__container .section-about__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: #55C2D8;
  border-radius: 18px;
  transform-origin: top left;
  transition: transform 0.3s linear;
  z-index: -1;
}
.section-about .section-about__container .section-about__btn:hover {
  transform: skewY(10deg);
  transform-origin: top left;
}
.section-about .section-about__container .section-about__btn:hover::before {
  transform: skewY(-10deg);
  transform-origin: top left;
}

.section-stories {
  flex: 1 0 100%;
  height: 700px;
  padding: 80px 0;
  height: 637px;
  background-image: url("../assets/IMG_1334_72dpi_RGB_ 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
}
.section-stories::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(140, 79, 42, 0.3);
  z-index: -1;
}
.section-stories .section-stories__container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.section-stories .section-stories__container .section-stories__heading--md {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 53px;
}
.section-stories .section-stories__container .section-stories__btn {
  width: 145px;
  height: 143px;
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 70px;
  transition: background-color 0.5s;
}
.section-stories .section-stories__container .section-stories__btn .svg-icon path {
  fill: #ffffff;
  transition: fill 0.3s;
}
.section-stories .section-stories__container .section-stories__btn:hover {
  background-color: #ffffff;
}
.section-stories .section-stories__container .section-stories__btn:hover .svg-icon path {
  fill: #55C2D8;
}
.section-stories .section-stories__container .section-stories__heading--sm {
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans 3", sans-serif;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 48px;
}

.footer {
  display: flex;
  flex: 1 0 100%;
  background-color: #464547;
  height: 200px;
  padding: 37px 0 78px 0;
}
.footer .footer__container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 80px;
}
.footer .footer__container .footer__logo-container {
  display: flex;
  align-items: center;
  margin-top: -60px;
}
.footer .footer__container .footer__logo-container .footer__logo {
  margin-right: 16px;
}
.footer .footer__container .footer__logo-container .footer__title {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
}
.footer .footer__container .footer__contact-container {
  max-width: 174px;
  text-align: left;
}
.footer .footer__container .footer__contact-container .footer__contact-address {
  display: inline-block;
  margin-bottom: 27px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__container .footer__contact-container .footer__contact-link {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.footer .footer__container .footer__footnote {
  text-align: end;
  margin-top: 65px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media (max-width: 768px) {
  .nav {
    justify-content: space-between;
  }
  .nav .nav__burger-bar {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    position: relative;
  }
  .nav .nav__burger-bar::before, .nav .nav__burger-bar::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    left: 0;
  }
  .nav .nav__burger-bar::before {
    top: -10px;
  }
  .nav .nav__burger-bar::after {
    top: 10px;
  }
  .nav .nav__list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .section-about {
    height: auto;
  }
  .section-about .section-about__text-container {
    flex-direction: column;
  }
  .section-about .section-about__text-container .section-about__text-content {
    width: 100% !important;
  }
  .section-about .section-about__text-container .section-about__text-content:first-child {
    margin-bottom: 25px;
  }
  .section-stories {
    height: auto;
  }
  .section-stories .section-stories__container .section-stories__btn {
    width: 100px;
    height: 100px;
    padding: 25px 20px 32px 26px;
  }
  .section-stories .section-stories__container .section-stories__btn img {
    width: 37px;
    height: 47px;
  }
}
@media (max-width: 768px) {
  .footer {
    height: auto;
  }
  .footer .footer__container {
    grid-template-columns: 1fr;
    gap: 18px;
    place-items: center;
    text-align: center;
  }
  .footer .footer__container .footer__logo-container {
    margin-top: 0;
  }
  .footer .footer__container .footer__contact-container {
    text-align: center;
  }
  .footer .footer__container .footer__footnote {
    margin-top: 0;
  }
}/*# sourceMappingURL=styles.css.map */